body{
  background-color: #EFBFC6;
}

a {
  color: #8A0F0F;
}

p {
  padding:0;
  margin:0;
}

.navigation {
  height: auto;
  width: 100%;
  text-align: center;
}

.navigation img {
  width: 250px;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline-block;
  font-family: 'Lora', serif;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 25px;
  text-transform: uppercase;
  padding-right: 50px;
}

.name{
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  text-align: left;
  color: #FF12A8;
}

.pro_pic img{
  width: 100%;
}

.column_1{
  float: left;
  background-color: #EFBFC6;
  width: 40%;
  height: 500px;
}

.column_2{
  float: left;
  background-color: #EFBFC6;
  width: 60%;
  height: 500px;
}

.paragraphs{
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #C22828;
  text-align: justify;
  padding: 20px;
  padding-top:0;
}

.paragraphs p{
  padding: 10px;
}

.img {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 180px;
}

.img:hover {
border: 1px solid #777;
}

div.img img {
width: 100%;
height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
